<!DOCTYPE html>
<html>
 <body>
   <head>
  <link rel="stylesheet" href="../styles/main.css">
   </head>
    <article class="media content-section">
  <img class="round-image" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
 <br> <i>Profile image</i> 
  <div class="media-body">
   <div class="article-metadata">
    <p>Author Name: Ari Debby</p>
     
     <br>
     <p> Author Socials:</p><br>
     <a class="" target="_blank" href="https://www.instagram.com/_ari_debby/">Instagram</a><br>
     <a class="" target="_blank" href="https://twitter.com/ari_debby_">Twitter</a>
 </div>
   <h2 class="article.title">About author</h2>
   <p class="article-content">Author name is Ariori Deborah</p> <br>
   <p>Title: Miss</p><br>
   <p> Current Company: AriDebby</p><br>
   <p>
    Ariori Deborah is a software developer. 
   </p>
 </div>
</article>
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
     </div>
     <div class="modal-footer">
       <a href="./blog.html">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </a>
      
     </div>
   </div>
 </div>
</div>

 </body>
</html>
