<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../styles/main.css">
    </head>
<body>
   <b>
    <h1 id="heading" align="center">
        AriDebby's Blog
    </h1>
   </b> 
    <div id = "housing1">
    <article class="content-section">
        <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
       <div class="media-body">
         <div class="article-metadata">
           <a href="#">Ariori Debby</a>
           <small>Aridebby</small>
         </div>
         <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
         <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
       </div>
     </article>
     <br>
     <div class ="secondContent">
     <article class="content-section" >
        <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
       <div class="media-body">
         <div class="article-metadata">
           <a href="#">Ariori Debby</a>
           <small>Aridebby</small>
         </div>
         <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
         <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
       </div>
     </article>
     </div>
    </div>
    <div id="housing2">
     <article class="content-section">
        <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
       <div class="media-body">
         <div class="article-metadata">
           <a href="#">Ariori Debby</a>
           <small>Aridebby</small>
         </div>
         <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
         <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
       </div>
     </article>
     <div class="secondContent">
     <article class="content-section">
        <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
       <div class="media-body">
         <div class="article-metadata">
           <a href="#">Ariori Debby</a>
           <small>Aridebby</small>
         </div>
         <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
         <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
       </div>
     </article>
     </div>
    </div>
    <div id = "housing3">
        <article class="content-section">
            <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
           <div class="media-body">
             <div class="article-metadata">
               <a href="#">Ariori Debby</a>
               <small>Aridebby</small>
             </div>
             <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
             <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
           </div>
         </article>
         <br>
         <div class ="secondContent">
         <article class="content-section" >
            <img  height="65px",width="65px" src="https://thefader-res.cloudinary.com/private_images/w_760,c_limit,f_auto,q_auto:best/image003_qspob8/davido.jpg">
           <div class="media-body">
             <div class="article-metadata">
               <a href="#">Ariori Debby</a>
               <small>Aridebby</small>
             </div>
             <h2><a class="article-title" href="./blog.html">My blog Post</a></h2>
             <p class="article-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex cumque id ullam magnam distinctio odit necessitatibus, numquam nihil minus ad sed quam. Ullam facilis natus ipsum tempora corrupti. Molestias, cum.</p>
           </div>
         </article>
         </div>
        </div>
</body>
  </html>
  
              
 

