#housing1{
    display: flex;
    justify-content: space-between;
  }
  .secondContent{
    padding-left: 20px;
  }

  #housing2{
    display: flex;
    justify-content: space-between;

  }
  @media (min-width: 1024px) {
  #housing3{
    display:grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 320px 300px;
    align-self: center;
    min-width: 1024px;
  }
  }
  

  #heading{
    color: Black;
  }